@tailwind base;
@tailwind components;
@tailwind utilities;

.wmde-markdown img{
    width: 100%;
}

.wmde-markdown > ol > li {
    display: list-item;
    list-style: decimal !important;
}

.wmde-markdown > ul > li {
    display: list-item;
    list-style-type: disc !important;
}
